body {
    background-color: whitesmoke;
    margin: 8px 10px;
    padding: 0px;
}
p, ul, li{
    font-family:sans-serif;
}
svg {
    background-color: white;
    margin: 0px;
    float: left;
}

#block {
    max-width: 950px;
}

#log {
    color: #e31a1c;
    text-align:center;
    font-family:sans-serif;
    font-size: 14px;
/*    font-style: italic;*/
   margin-left: 40%;
    /*margin: 0px;*/
    padding: 0px;
}

.country {
    fill: gainsboro;
}

.state {
    fill: none;
}

/*
 * Setting "opacity" can affect both
 * fill and stroke. We want to set
 * both of those separately.
 */

.symbol {
/*    fill: royalblue;
*/    fill-opacity: 0.5;

    stroke: grey;
    stroke-width: 1px;
    stroke-opacity: 1.0;
}

/*
 * We can specify how to highlight based
 * on the type of underlying object.
 */

circle.highlight {
    stroke: orangered;
    stroke-width: 2px;
}

path.highlight {
    fill: whitesmoke;

    stroke: tomato;
    stroke-width: 1px;
}

